body {
    margin-bottom: 60px;
}
.container{
    margin: 0;
    max-width: 100%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #d3d3d3;
    min-width: 150px;
    width: 20em;
    height: 25em;
    margin: 10px;
    color: #383838;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-card {
    min-height: 260px;
    height: 70%;
    position: relative;
}

    .upper-card img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 80px;
        min-height: 80px;
        width: 10em;
        height: auto;
        transition: transform 0.3s ease;
    }

.product-card:hover .upper-card img {
    transform: scale(1.2);
}

.no-hover .upper-card img {
    transform: scale(1.2);
}


.upper-card p, .upper-card h3 {
    margin: 10px;
}

.lower-card {
    background-color: #e6e6e6;
    padding: 10px;
}

    .lower-card p {
        color: #25b438;
        text-align: right;
    }

    .lower-card h3 {
        font-weight: bold;
    }

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        text-decoration: none;
        color: inherit;
    }

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-add-to-cart {
    background-color: #25b438;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-details {
    color: #25b438;
    text-decoration: none;
    padding: 5px 10px;
}

    .btn-details:hover, .btn-add-to-cart:hover {
        background-color: #218f30;
    }
